.character-selector {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* To center-align the items */
}

.character-card {
  width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; /* Smooth transition for background color */
}
.character-card.selected {
  background-color: lightgreen; /* Background color for selected card */
}

.image-cap {
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  background-color: #dedede;
  margin-bottom: 10px;
  object-fit: cover; /* This will cover the area without stretching the image */
  border-radius: 4px; /* Optional: if you want rounded corners */
}

.character-card h3 {
  color: #333;
}

.character-card p {
  color: #666;
  font-size: 14px;
}

.character-card button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  margin-top: 20px;
}

/* Add any additional global styles or media queries as needed */
