.App {
  font-family: sans-serif;
  text-align: center;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed; /* Fixes the container at the top */
  top: 0; /* Aligns the container to the top of the screen */
  padding: 20px 0;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures the container stays above other content */
}

.selected-color {
  font-size: 1.2em;
  margin-right: 20px;
  display: inline-block; /* Align text properly with the radio buttons */
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-buttons label {
  margin: 0 10px;
  font-size: 1.1em;
  color: #555;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
}
